.project-container {
    position: relative;
    height: 270px;
    width: 270px;
    margin: 1rem 0;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: var(--color-black) 2px 3px 1px;
}

/* make image mover on hover */
.project-container:hover img {
    transform: scale(1.1);
}

.project-container img {
    position: absolute;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    transition: transform .5s ease-in-out;
    left: 0
}
.overlay {
    background-color: rgba(0, 0, 0, 0.644);
    height: 100%;
    width: 100%;
    z-index: 1;
}

.project-container .content {
    position: absolute;
    top: 20%;
    text-align: center;
    padding: 0 1rem;
    z-index: 2;
    color: white;
}

.project-container h3 {
    width: 100%;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}


.project-container .button {
    position:inherit;
    z-index: 2;
    bottom: 20%;
}

/* scaling  */
@media only screen and (min-width: 400px){
    .project-container {
        height: 350px;
        width: 350px;
    }
}
/* scaling */
@media only screen and (min-width: 478px){
    .project-container {
        height: 400px;
        width: 400px;
        margin: 1rem;
    }
}